<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sofisapp.sofistrending"
android:installLocation="preferExternal">


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Allan And Sofias's Trending Store"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity"/>
        <activity android:name=".BoysActivity"/>
        <activity android:name=".DamasActivity"/>
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".CarritoCaballeros">
        </activity>
        <activity android:name=".Caballeros">
        </activity>
        <activity android:name=".DamasCarrito">
        </activity>
        <activity android:name=".Carritoboy">
        </activity>
    </application>

</manifest>